.name-account span{
    font: 400 16px Roboto, sans-serif;
    letter-spacing: .1px;
    line-height: 1.5;
    color: #777;
}

.name-account p {
    font: 400 24px Roboto, sans-serif;
    line-height: 1.3333;
}


.desconect-email{
    margin-top: 10px;
    height: 12px;
    margin-right: 2px;
}

.desconect-email button {
    color:  #b40606;
    border: none;
    background: none;
}

.footer .concluido-bts{
    margin-top: 20px;
    font: 500 14px Roboto, sans-serif;
    color: #1A73E8;
    justify-content: left;
    align-content: left;
    text-align: left;
}


.r-bts-option {
    width: 350px;
    margin-left: 30px;
}

.r-bts-option .other-email,
.r-bts-option .remove-email {

    font: 500 14px Roboto, sans-serif;
    color: #777;    
    
    justify-content: left;
    height: 24px;
    display: inline-flex;
}

.r-bts-option li {
    list-style: none;
    height: 34px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dcdce6;
}

.r-bts-option button {
    width: 100%;
    
    border: none;
    background: none;
    margin-left: 3px;
}

.r-bts-option .other-email .icon-user-plus {
    margin-right: 16px;
}