.gmail-container {
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.gmail-header {
    width: 100%;
    padding-top: 15px;
    padding-left: 80px;
    padding-bottom: 15px;
    position: relative;

    border-bottom: 1px solid #dcdce6;

    display: flex; 
    flex-direction: row;
}

.gmail-header img{
    width: 35px;
}

.gmail-container .gmail-header h1{
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 50px;
}

.gmail-container .gmail-header .google-search {
    width: 538px;
    height: 38px;

    margin-bottom: -10px;
    padding-left: 20px;
    border: 1px solid #dcdce6;
    border-radius: 8px;
}

.gmail-container .gmail-header .google-search input {
    width: 378px;
    height: 20px;

    margin-left: 20px;
    border: none;    
}


.gmail-container .gmail-header .google-search .search-icon {
    margin-top: 10px;
    margin-bottom: -18px;
    position: relative;
}

.gmail-container .gmail-header .icon-group {
    width: 100%;
    max-width: inherit;
    
    margin-bottom: 10px;

    display: inline-flex;
    position: relative;
}

.g-s-icon {

    width: 100%;
    max-width: 1366px;
    height: 20px;

    margin-left: 5px;
    display: inline-flex;
    padding: 10px;
}

.q-bts-icon, .c-bts-icon, .t-bts-icon, .u-bts-icon {
    color:#777;
}

.gmail-container .gmail-header .icon-group button{
    border: none;
    background: none;
    margin-left: 20px;
    margin-bottom: -18px;
}

.gmail-container .gmail-body {
    width: 800px;
    height: 100vh;
    padding-left: 250px;
    
    position: static;
    flex-direction: column;
    display: flex;

    background: #fff;
}

.gmail-container .gmail-body-header {
    width: 100%;
    height: 36px;
    max-width: 550px;

    margin-top: 5px;


    border-bottom: 1px solid #dcdce6;
    justify-content: space-between;
    position: relative;
    background: #fff;
}

.gmail-container .gmail-body-header button {
    margin-top: 5px;

    border: none;
    background: none;
    justify-content: space-between;
}


.gmail-b-header {

    display: inline-flex;
    width: 100%;
    max-width: 450px;

}

.bts-grid, .bts-redo {
    margin-left: 35px;
}


.gmail-container .gmail-body-container {
    width: 100%;
    height: 100vh;
    max-height: 550px;
    margin-top: 5px;

    position: relative;

}

.google-left-navbar .bts-write-mail { 
    margin-top: 8px;
    box-shadow: black;
    border: 1px;
    background: none;
}

/* .gmail-body-container ul{
    list-style: none;
} */

.gmail-body-container button,
.bts-group-footer button{
    border: none;
    background: none;
}

.gmail-body-container .bts-star-mail{
    color: rgb(190, 190, 190);
}


.gmail-content .email-content {
    height: 33px;
    border-bottom: 1px solid #dcdce6;
}

.gmail-content .email-content .bts-mail {
    top: 5px;
    position: absolute;
}

.gmail-body-container .bts-mail {
    width: 100%;

    max-width: 450px;
    
    background: #fff;
    justify-self: space-between;
    position: relative;
    display: inline-flex;
}

strong {
    font: 300 14px Roboto, sans-serif;
    text-align: left;
}

.gmail-body-container .bts-mail .title-mail, .desc-mail, .date-mail {
    width: 100%;
    max-width: 130px;
    
    margin-left: 20px;

    display: inline-flex;
    position: relative;
}

.title-mail {
    font: 700 14px Roboto, sans-serif;
    text-transform: capitalize;
}

.date-mail {
    margin-left: 15px;
    padding-left: 85px;
}

/* .gmail-body-container .bts-mail {
    
}

.gmail-body-container .bts-mail {
     */

.escrever-mail-box {
    width: 480px;
    height: 380px;
    margin-top: 100px;
    margin-left: 70px; 

    bottom: 10px;


    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);

    position: fixed;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    background: #fff;
}

.gmail-container .gmail-footer {
    
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;
    margin-top : 80px;
}

.escrever-mail-box h2 {
    font: 500 14px Roboto, sans-serif;
    color: #fff;
}

.escrever-mail-box .escrever-header {
    width: 100%;
    height: 40px;
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #404040;
}

.escrever-header h2 {
    padding: 10px 0;
    margin-left: 16px;
}

.escrever-mail-box form input {
    width: 100%;
    max-width: 450px;
    height: 34px;
    
    padding-left: 16px;
    
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid #dcdce6;
}

.escrever-mail-box form input::placeholder {
    font: 400 16px Roboto, sans-serif;
    color: #777;
}

.escrever-footer {
    padding-left: 10px;
    position: relative;
    bottom: 20;
}

.bts-group-footer {
    width: 100%;
    height: 34px;
    max-width: 340px;
    background: #fff;

    bottom: 0;

    display: inline-flex;
    justify-content: space-between;
}

.bts-group-footer button {
    margin-left: 10px;
}
.bts-group-footer button:hover{
    color: #404040;
}

.bts-select, .bts-redo, .bts-grid, .bts-select-mail,
.bts-clip, .bts-link, .bts-smile,.bts-drive,
.bts-image,.bts-lock, .bts-pen, .bts-eli, .bts-trash {
    color: #979696;
}

.bts-select-mail, .bts-star-mail {
    margin-top: 5px;
    margin-right: 15px;
    display: inline-flex;
}


.send-group {
    align-items: center;
    justify-items: center;
    display: inline-flex;
}

.send-group button {
    height: 48px;
    padding-left: 16px;
    text-align: left;
}

.bts-caret {
    margin-top: 12px;
    margin-left: -25px;
    padding-right: 15px;
    position: relative;
    color: #fff;
}

.fileUpload {
    position: absolute;
    overflow: hidden;

    width: 100%;
    margin-left: -5px;
    background: #fff;
    margin-top: -20px;
}

.fileUpload input.upload {
    position: relative;
    cursor: pointer;
}